*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
body{
    background-color: var(--colorFundo);
}
header,
main{
    width: 94%;
    margin: auto;
}

.btnMenu{
    display: flex;
    flex-direction: column;
    width: 10%;
    margin: 40px 0;
}
.btnMenu span{
    background-color: white;
    height: 4px;
    width: 100%;
    margin: 5px;
    border-radius: 3px;
}
.btnMenu span:nth-child(2){
    width: 80%;
}

.containerName{
    color: white;
    font-size: 2em;
    font-weight: 500;
}

.containerInfosMain{
    margin: 20px 0;
}
.infosMain{
    background-color: var(--colorFundo2);
    border-radius: 14px;
    padding: 30px 20px;
    display: flex;
    align-items: center;
}
.containerAvatar{
    background-color: white;
    border-radius: 50%;
    padding: 3px;
}
.avatar{
    width: 70px;
    height: 70px;
    background-color: blueviolet;
    border-radius: 50%;
    border: 2px solid var(--colorFundo2);
}
.containerInfos{
    width: 100%;
    margin: 0px 30px;
}
.containerInfos p:nth-child(1){
    font-size: 2em;
    text-transform: uppercase;
    color: var(--colorOrange);
}.containerInfos p:nth-child(2){
    font-size: 2.5em;
    color: white;
    margin-top: 10px;
}

main{
    margin-top: 50px;
}
main > h1{
    color: white;
    font-size: 2em;
    margin: 20px 0;
}
.containerBtnMain > div{
    display: flex;
}

.btnMain{
    background-color: var(--colorFundo2);
    width: 100%;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 26px;
    border-radius: 10px;
    overflow: hidden;
}
.btnMain:hover{
    background-color: var(--colorDestaque);
    color: var(--colorFundo);
}
.containerBtnMain > div .btnMain:nth-child(1){
    margin-left: 0;
}
.containerBtnMain > div .btnMain:nth-child(3){
    margin-right: 0;
}
.btnMain p:nth-child(1){
    margin-bottom: 10px;
    font-size: 3em;
}
.btnMain p:nth-child(2){
    font-size: 2em;
}