*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
body{
    background-color: var(--colorFundo);
}
header,
main{
    width: 92%;
    margin: auto;
}
.containermenu{
    padding: 20px 0;
}
.btnMenu{
    display: flex;
    flex-direction: column;
    width: 8%;
    margin: 70px 0;
}
.btnMenu span{
    background-color: white;
    height: 6px;
    width: 100%;
    margin: 5px;
    border-radius: 3px;
}
.btnMenu span:nth-child(2){
    width: 80%;
}

.containerName{
    color: white;
    font-size: 3em;
    font-weight: 500;
}

.containerInfosMain{
    margin: 40px 0;
}
.infosMain{
    background-color: var(--colorFundo2);
    border-radius: 30px;
    padding: 40px;
    display: flex;
    align-items: center;
}
.containerAvatar,
.statusBoll{
    background-color: white;
    border-radius: 50%;
    padding: 8px;
}

.avatar{
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    border-radius: 50%;
    border: 10px solid var(--colorFundo2);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("https://preview.redd.it/w9kc4jqt4lx81.jpg?auto=webp&s=2f251ffae50516fc01c5a38bde5932c129f48d29");
    background-position: center;
    background-size: cover;
}
.containerStatusBoll{
    display: flex;
    align-items: end;
    justify-content: end;
}
.statusBoll{
    position: absolute;
    width: 70px;
    height: 70px;
    margin-right: 5px;
    margin-bottom: 5px;
    overflow: hidden;
}
.boll{
    background-color: red;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.containerInfos{
    width: 100%;
    margin: 0px 70px;
}
.containerInfos p:nth-child(1){
    font-size: 3em;
    color: var(--colorOrange);
    font-variant: small-caps;
    
}.containerInfos p:nth-child(2){
    font-size: 4em;
    color: white;
    margin-top: 10px;
}

main{
    margin-top: 50px;
}
main > h1{
    color: white;
    font-size: 3em;
    margin: 100px 0px 20px;
}
.containerBtnMain > div{
    display: flex;
}

.btnMain{
    background-color: var(--colorFundo2);
    width: 100%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 40px;
    border-radius: 30px;
    overflow: hidden;
}
.btnMain:hover{
    background-color: var(--colorDestaque);
    color: var(--colorFundo);
}
.containerBtnMain > div .btnMain:nth-child(1){
    margin-left: 0;
}
.containerBtnMain > div .btnMain:nth-child(3){
    margin-right: 0;
}
.btnMain p:nth-child(1){
    margin-bottom: 20px;
    font-size: 4em;
}
.btnMain p:nth-child(2){
    font-size: 2.5em;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.5);
}

.inputDados{
    width: 90%;
    margin: auto;
    color: white;
    font-size: 2.3em;
    display: none;
}
.inputDados input{
    width: 100%;
    padding: 30px 20px;
    outline: none;
    border: 1px solid white;
    background-color: var(--colorFundo2);
    border-radius: 30px;
    font-size: 1em;
    color: #666;

}
.inputDados p{
    margin-bottom: 10px;
    margin-top: 40px;
}

.inputDados input:last-child{
    margin-top: 60px;
    color: white;
    font-variant: small-caps;
    letter-spacing: 5px;
    font-size: 1em;
}

.inputDados input:last-child:hover{
    margin-top: 60px;
    color: var(--colorFundo);
    background-color: white;   
}